<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>IMC with Flask+AJAX</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

	<!-- SCRIPT_ROOT armazena o caminho para a aplicação -->
	<script type=text/javascript>
  		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	
	<!-- Script jQuery para Troca de dados com o Servidor -->
	<script  src="{{url_for('static', filename='js/calc_imc.js') }}"></script>
</head>
<body>
	<article>
		<h1>IMC with Flask and Ajax</h1>
		<form id="form_imc">
			<label for="weight">Weight</label>
			<input type="text" name="weight">
			<label for="height">Height</label>
			<input type="text" name="height">
			<input type="submit" value="send">
		</form>

		<div id="div_success"></div>
		<div id="div_error"></div>
		
	</article>
</body>
</html>