<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="post" action="{{url_for('login')}}">
        {{ form.hidden_tag() }} <!-- ou form.csrf_token ??-->
        <div>
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </div>
        {{ form.submit}}
    </form>
</body>
</html>