<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Flask</title>
    </head>
    <body>
        <div style="background-color: gainsboro">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('usuario_inserir')}}">Novo</a>
            <a href="{{url_for('contato')}}">Contato</a>
        </div>
        {% if logado == True %}
            <div style="margin: 10px;">
                {% block content %}{% endblock %}
            </div>            
        {% else %}
            <div class="jumbotron"> <h1>Efetue login</h1></div>
        {% endif %}
    </body>
</html>
