{% extends "layout.html" %} {% block content %}
<form method="post" action="{{url_for('usuario_atualizar', id = usuario.id)}}">

    <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" placeholder="Nome" value="{{usuario.nome}}">
    </div>

    <div>
        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" placeholder="{{usuario.telefone}}" value="(88) 9999-9999">
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" value="{{usuario.email}}">
    </div>

    <div>
        <label for="logradouro">Logradouro</label>
        <input type="text" name="logradouro" placeholder="Logradouro" value="{{usuario.endereco.logradouro}}" /><br>
    </div>

    <div>
        <label for="numero">Número</label>
        <input type="text" name="numero" placeholder="Número" value="{{usuario.endereco.numero}}" /><br>
    </div>

    <div>
        <label for="complemento">Complemento</label>
        <input type="text" name="complemento" placeholder="Complemento" value="{{usuario.endereco.complemento}}" /><br>
    </div>

    <div>
        <label for="senha">Senha</label>
        <input type="password" name="senha" placeholder="Senha" value="{{usuario.senha}}" />
    </div>

    <div>
        <label for="notificar_me">Notificar me</label>
        {% if usuario.notificar %}
            <input type="checkbox" name="notificar_me" value="" checked>Notificar me</input><br>
        {% else %}
            <input type="checkbox" name="notificar_me" value="">Notificar me</input>
        {% endif %}
    </div>

    <div>
        <label for="sexo">Sexo</label>
         {% if usuario.sexo == 'M' %}
            <input type="radio" name="sexo" value="M" checked>Masculino</input>
            <input type="radio" name="sexo" value="F">Feminino</input>
         {% else %}
            <input type="radio" name="sexo" value="M">Masculino</input>
            <input type="radio" name="sexo" value="F" checked>Feminino</input>
         {% endif %}
    </div>

    <div>
        <label for="data_nasc">Data de Nascimento</label>
        <input type=date name="data_nasc" value="{{usuario.data_nasc}}"><br>
    </div>

    <div>
        <label for="estado_civil">Estado Civil</label>
        <select name="estado_civil">
            {% for codigo in estados_civis %}
                   <option value="{{codigo}}"
                       {% if usuario.estado_civil==codigo %}
                                selected="selected"
                       {% endif %}>
                       {{ estados_civis[codigo]}}
                   </option>
            {% endfor %}
        </select><br>
    </div>

    <div>
        <input type="submit" value="novo usuário" />
    </div>

</form>
{% endblock %}